<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
    <title>坦克大战</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <!--[if lt IE 8]><script src="http://cdn.bootcss.com/json3/3.3.2/json3.min.js"></script><![endif]-->
    <script src="/javascripts/socket.io-1.2.0.js"></script>
    <script src="/javascripts/jquery-1.11.1.js"></script>

    <script type="text/javascript" src="/javascripts/tankClient.js"></script>
    <script type="text/javascript" src="/javascripts/tank.js"></script>
    <script type="text/javascript" src="/javascripts/fire.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
<!--onload="initGame();"-->
<div id="loginbox">
    <div style="width:260px;margin:200px auto;">
        请先输入你在游戏中的昵称
        <br/>
        <br/>
        <input type="text" style="width:180px;" placeholder="请输入用户名" id="username" name="username" />
        <input type="button" style="width:50px;" value="提交" onclick="gameCommon.usernameSubmit();"/>
    </div>
</div>

<div id="playbox" style="display:none;">
    <div class="navbar">
        <span class="navbar-info">
            <span id="showusername"></span>
            <a href="javascript:;" onclick="gameCommon.logout()">退出</a>
        </span>
    </div>

    <div>
        现在共有<span id="allUserCnt"></span>人在房间中，已有<span id="readyUserCnt">0</span>人准备。
    </div>

    <div class="canvas-wrapper">
        <canvas id="gameCanvas" width="320px" height="320px"></canvas>

        <div id="waiting-msg">
            <div>正在等待其他玩家准备就绪</div>
            <button onclick="gameCommon.ready()">准备开始游戏</button>
        </div>
    </div>


</div>
</body>
<script>
    ;(function($){
        //通过“回车”提交用户名
        $("#username").keydown(function(_event){
            if(_event.which==13)//回车
            {
                gameCommon.usernameSubmit();
            }
        });
    })(jQuery)
</script>
</html>
