.navbar{
    background:#3d3d3d;
    height: 40px;
    width: 100%;
    font-size:12px;
}

.navbar-info{
    float:right;
    margin-right:10px;
    color:#fff;
}

.canvas-wrapper{
    margin:100px 200px;
}